meta(name="description", content="Coding Challenge")
meta(name="keywords", content="coto, lacteos, yogurs, quesos, postres")
meta(name="author", content="Estudio Hybris, nataliagiannantonio@gmail.com")
meta(name="copyright", content="Estudio Hybris")
meta(name="robots", content="noindex,nofollow")
meta(name="url", content="http://www.estudiohybris.com.ar/")
meta(name="geo.placename", content="Buenos Aires")
meta(name="geo.region", content="AR")
link(rel="canonical", href="http://www.estudiohybris.com.ar/")
meta(property="og:locale", content="es_AR")
meta(property="og:url", content="http://www.estudiohybris.com.ar/")
meta(property="og:type", content="website")
meta(property="og:title", content="Coto")
meta(property="og:description", content="Coding Challenge")
meta(property="og:site_name", content="Coto")