@import "../abstracts/abstracts-module";

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
}

@each $name, $color in $theme-colors {
  .btn-#{$name} {
    color: $white;
    &:hover,
    &:active {
      background-color: lighten($color, $theme-color-interval);
      border-color: transparent;
    }
    &.disabled,
    &:disabled {
      color: $white;
    }
  }
  .btn-outline-#{$name} {
    &:hover,
    &:active {
      color: $white;
      border-color: lighten($color, $theme-color-interval);
      & > *[class*="text-"] {
        color: $white !important;
      }
    }
    &.disabled {
      &:hover {
        border: 1px solid $color !important;
        box-shadow: none !important;
      }
    }
  }
}

.btn-warning {
  color: darken($warning, 30%);
  &:hover,
  &:active {
    color: darken($warning, 30%);
  }
}