// Font Face Relu
// @include font-face('Lato', '../fonts/lato/lato-regular-webfont', 400, normal);
@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    src: url(#{$file-path}.ttf) format('truetype');
    font-weight: $font-weight;
    font-style: $font-style;
  }
}